<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  /* .jumbotron{
    
    background-image:url('/static/image/Untitled\ design\ \(2\).png');
  } */
  .abcd1{
    
    margin-bottom: 0px;
    margin-top: 0px;
    background-image: url('/static/image/imag.png');
    height: 80vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
</style>
<body>
  {% include "exam/navbar.html" %}
  <div style="position: relative;margin-top: 8px;">
    <br>
    <br>
<div class="abcd1">

</div>
</div>
  {% include "exam/footer.html" %}


</body>

</html>
