{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style type="text/css">
      body {
       background-image: url("/static/image/Untitled\ design\ \(2\).png");
       
     }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->
 <div style="min-height: 335px;">
<h1 style="margin-top: 180px;" class="text-center">Logged Out Successfully !</h1>
</div>

{% include "exam/footer.html" %}

  </body>
</html>
